# --- Системные файлы Windows ---
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# --- Файлы VS Code ---
.vscode/

# --- Файлы Visual Studio ---
bin/
obj/
*.suo
*.user
*.sln.docstates
[Bb]uild/
*.pdb
*.vshost.exe
.vs/

# --- Временные файлы и логи ---
*.log
*.tmp
*.temp
tmp/
temp/

# --- Временные файлы Microsoft Office ---
~$*.docx
~$*.xlsx
~$*.pptx
~$*.doc
~$*.xls
~$*.ppt
*.tmp.docx
*.tmp.xlsx
